body
{
    font: 16px/1.5 'PT Sans', sans-serif;

    color: #000;
    background: #fff;
}

p {
	margin: 0 0 18px 0;
}

h2 {
    font: 24px/0.9 'PT Sans', sans-serif;
	margin: 0 0 18px 0;
}

:link
{
    text-decoration: none;
    color: #0070ED;
}

:visited
{
    color: #0070ED;
}

a:hover
{
	color: #353434;
    text-decoration: none;
}
