/*b-progressbar*/

.b-progressbar {

}

.b-progressbar__line {
    width: 210px;
    text-align: center;
    height: 13px;
    border-color: #CECECE #E9E9E9 #F7F7F7;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    overflow: hidden;
}

.b-progressbar-count__value {
    position: absolute;
    z-index: 100;
    font: 9px/13px Verdana, sans-serif;
    color: #000;
}

.b-progressbar-count__bg {
    position: relative;
    z-index: 50;
    background: #abff58;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FiZmY1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzJjYzIxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iIzJjYzIxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YmRhMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #abff58 0%, #2cc218 44%, #2cc218 57%, #8bda1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abff58), color-stop(44%,#2cc218), color-stop(57%,#2cc218), color-stop(100%,#8bda1a));
    background: -webkit-linear-gradient(top,  #abff58 0%,#2cc218 44%,#2cc218 57%,#8bda1a 100%);
    background: -o-linear-gradient(top,  #abff58 0%,#2cc218 44%,#2cc218 57%,#8bda1a 100%);
    background: -ms-linear-gradient(top,  #abff58 0%,#2cc218 44%,#2cc218 57%,#8bda1a 100%);
    background: linear-gradient(to bottom,  #abff58 0%,#2cc218 44%,#2cc218 57%,#8bda1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abff58', endColorstr='#8bda1a',GradientType=0 );
    width: 30%;
    height: 15px;
    margin: -1px 0 0 0;
    border-radius: 7px;
}